{
  "openapi": "3.0.1",
  "info": {
    "title": "Pets.io API",
    "description": "Pets.io public API",
    "version": "1.0",
    "termsOfService": "https://pets.io/terms/",
    "contact": {
      "name": "Support",
      "url": "https://api.pets.io",
      "email": "support@pets.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.pets.io"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "paths": {
    "/categories": {
      "post": {
        "operationId": "ef2d7510-1929-4883-a37e-f1ef9525c005",
        "summary": "Create categories",
        "description": "Service to create categories",
        "tags": [
          "Categories"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCategoriesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "bef61e11-dd7a-4f7c-9d63-075f86120838",
        "summary": "List categories",
        "description": "Service to list categories",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "List categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "get":{
        "operationId": "36bdce6b-1fcd-41c6-8614-046e991d0d3d",
        "summary": "Get categories",
        "description": "Service to get categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "put":{
        "operationId": "44a6dab0-2ca7-4276-b38e-dd18c8d14ce8",
        "summary": "Update categories",
        "description": "Service to update categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putCategoriesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Get categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "053a45b2-3cf7-41ce-95fb-335f35533e64",
        "summary": "Delete categories",
        "description": "Service to delete categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete categories success response"
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/owners":{
      "post": {
        "operationId": "219886aa-54f9-4851-aceb-00c191fc5ff5",
        "summary": "Create owners",
        "description": "Service to create owners",
        "tags": [
          "Owners"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postOwnersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create owners success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postOwnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "dad1dc43-7d89-4513-843d-8be5f2acaaa3",
        "summary": "List owners",
        "description": "Service to list owners",
        "tags": [
          "Owners"
        ],
        "responses": {
          "200": {
            "description": "Create owners success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postOwnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/owners/{id}": {
      "get": {
        "operationId": "89c53dff-c180-45a1-a8be-88a3e0d14479",
        "summary": "Get owners",
        "description": "Service to get owners",
        "tags": [
          "Owners"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Owner Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get owners success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOwnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "3a5ed3d7-f35e-48db-8060-93284d8f573b",
        "summary": "Update owners",
        "description": "Service to update owners",
        "tags": [
          "Owners"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Owner Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putOwnersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Get owners success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putOwnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "f7487fde-f9c3-40f0-b73b-f4e9005f840d",
        "summary": "Delete owners",
        "description": "Service to delete owners",
        "tags": [
          "Owners"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Owner Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete owners success response"
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pets": {
      "post": {
        "operationId": "ed9fcb84-c2fc-476a-a4ee-583e289ea4ab",
        "summary": "Create pets",
        "description": "Service to create pets",
        "tags": [
          "Pets"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create pets success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postPetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "88e5fcd6-130c-4163-a328-8c3728a6181c",
        "summary": "List pets",
        "description": "Service to list pets",
        "tags": [
          "Pets"
        ],
        "responses": {
          "200": {
            "description": "List pets success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listPetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pets/{id}": {
      "get": {
        "operationId": "60f19129-c122-4134-a496-4b43796aa260",
        "summary": "Get pets",
        "description": "Service to get pets",
        "tags": [
          "Pets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pet Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get pets success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "4238b535-8d68-4afe-a15b-6deaa4783e3c",
        "summary": "Update pets",
        "description": "Service to update pets",
        "tags": [
          "Pets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pet Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Get owners success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putPetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ec212619-ef5a-4b5f-9453-296da06feeaa",
        "summary": "Delete pets",
        "description": "Service to delete pets",
        "tags": [
          "Pets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pet Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete pets success response"
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "errorResponse": {
        "$ref": "src/schemas/error-response.schema.json"
      },
      "postCategoriesRequest": {
        "$ref": "src/schemas/categories-post-request.schema.json"
      },
      "postCategoriesResponse": {
        "$ref": "src/schemas/categories-post-response.schema.json"
      },
      "listCategoriesResponse": {
        "$ref": "src/schemas/categories-list-response.schema.json"
      },
      "getCategoriesResponse": {
        "$ref": "src/schemas/categories-get-response.schema.json"
      },
      "putCategoriesRequest": {
        "$ref": "src/schemas/categories-put-request.schema.json"
      },
      "putCategoriesResponse": {
        "$ref": "src/schemas/categories-put-response.schema.json"
      },
      "postOwnersRequest": {
        "$ref": "src/schemas/owners-post-request.schema.json"
      },
      "postOwnersResponse": {
        "$ref": "src/schemas/owners-post-response.schema.json"
      },
      "listOwnersResponse": {
        "$ref": "src/schemas/owners-list-response.schema.json"
      },
      "getOwnersResponse": {
        "$ref": "src/schemas/owners-get-response.schema.json"
      },
      "putOwnersRequest": {
        "$ref": "src/schemas/owners-put-request.schema.json"
      },
      "putOwnersResponse": {
        "$ref": "src/schemas/owners-put-response.schema.json"
      },
      "postPetsRequest": {
        "$ref": "src/schemas/pets-post-request.schema.json"
      },
      "postPetsResponse": {
        "$ref": "src/schemas/pets-post-response.schema.json"
      },
      "listPetsResponse": {
        "$ref": "src/schemas/pets-list-response.schema.json"
      },
      "getPetsResponse": {
        "$ref": "src/schemas/pets-get-response.schema.json"
      },
      "putPetsRequest": {
        "$ref": "src/schemas/pets-put-request.schema.json"
      },
      "putPetsResponse": {
        "$ref": "src/schemas/pets-put-response.schema.json"
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key to authorize requests."
      }
    }
  },
  "security": [{
    "Authorization": []
  }],
  "tags": [
    {
      "name": "Categories",
      "description": "Category operations"
    },
    {
      "name": "Owners",
      "description": "Owner operations"
    }, 
    {
      "name": "Pets",
      "description": "Pet operations"
    }
  ]
}