{
  "openapi": "3.0.1",
  "info": {
    "title": "ColectaInternalAPI",
    "description": "Colecta Internal API. Consumable only from Colecta proprietary applications",
    "version": "1.0",
    "termsOfService": "https://colecta.io/terms/",
    "contact": {
      "name": "Support",
      "url": "https://support.colecta.io",
      "email": "support@colecta.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://local.internal.api.colecta.io"
    },
    {
      "url": "https://dev.internal.api.colecta.io"
    },
    {
      "url": "https://stag.internal.api.colecta.io"
    },
    {
      "url": "https://internal.api.colecta.io"
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "operationId": "ef2d7510-1929-4883-a37e-f1ef9525c005",
        "summary": "Create accounts",
        "description": "Endpoint to create accounts",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountsRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [{
          "name": "X-Account",
          "in": "header",
          "description": "Account",
          "schema": {
            "type": "string"
          },
          "required": true,
          "allowEmptyValue": false
        }],
        "responses": {
          "200": {
            "description": "Create accounts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "bef61e11-dd7a-4f7c-9d63-075f86120838",
        "summary": "List accounts",
        "description": "Endpoint to list accounts",
        "tags": [
          "Account"
        ],
        "parameters": [{
          "name": "X-Account",
          "in": "header",
          "description": "Account",
          "schema": {
            "type": "string"
          },
          "required": true,
          "allowEmptyValue": false
        }],
        "responses": {
          "200": {
            "description": "Create accounts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "$ref": "./src/schemas/errorResponse.json"
      },
      "CreateAccountsRequest": {
        "$ref": "./src/lambdas/resources/accounts/create-accounts/schemas/request.json"
      },
      "CreateAccountsResponse": {
        "$ref": "./src/lambdas/resources/accounts/create-accounts/schemas/response.json"
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT generated by AWS Cognito."
      }
    }
  },
  "security": [{
    "Authorization": []
  }],
  "tags": [
    {
      "name": "Account",
      "description": "Account operations"
    }
  ]
}