{
  "openapi": "3.0.1",
  "info": {
    "title": "Pets.io API",
    "description": "Pets.io public API",
    "version": "1.0",
    "termsOfService": "https://pets.io/terms/",
    "contact": {
      "name": "Support",
      "url": "https://pets.colecta.io",
      "email": "support@pets.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.pets.io"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "paths": {
    "/categories": {
      "post": {
        "operationId": "ef2d7510-1929-4883-a37e-f1ef9525c005",
        "summary": "Create categories",
        "description": "Service to create categories",
        "tags": [
          "Categories"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoriesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "bef61e11-dd7a-4f7c-9d63-075f86120838",
        "summary": "List categories",
        "description": "Service to list categories",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "List categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/${categoryId}": {
      "get":{
        "operationId": "36bdce6b-1fcd-41c6-8614-046e991d0d3d",
        "summary": "Get categories",
        "description": "Service to get categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch":{
        "operationId": "44a6dab0-2ca7-4276-b38e-dd18c8d14ce8",
        "summary": "Update categories",
        "description": "Service to update categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoriesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Get categories success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete":{
        "operationId": "053a45b2-3cf7-41ce-95fb-335f35533e64",
        "summary": "Delete categories",
        "description": "Service to delete categories",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Get categories success response"
          },
          "400": {
            "description": "Default 4xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Default 5xx response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "$ref": "./src/schemas/error-response.schema.json"
      },
      "CreateCategoriesRequest": {
        "$ref": "./src/schemas/create-categories-request.schema.json"
      },
      "CreateCategoriesResponse": {
        "$ref": "./src/schemas/create-categories-response.schema.json"
      },
      "ListCategoriesResponse": {
        "$ref": "./src/schemas/list-categories-response.schema.json"
      },
      "GetCategoriesResponse": {
        "$ref": "./src/schemas/get-categories-response.schema.json"
      },
      "UpdateCategoriesRequest": {
        "$ref": "./src/schemas/update-categories-request.schema.json"
      },
      "UpdateCategoriesResponse": {
        "$ref": "./src/schemas/update-categories-response.schema.json"
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key to authorize requests."
      }
    }
  },
  "security": [{
    "Authorization": []
  }],
  "tags": [
    {
      "name": "Account",
      "description": "Account operations"
    }
  ]
}